button {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 100px;
    font-weight: bold;
    color: white;
    border-color: white;

}
#increment-btn {
    background-color: darkred;
    
}
#save-btn {
    background-color: green;
}
#reset-btn {
    background-color: grey;
}